<launch>

 <arg name="robot_name" default="$(optenv AGV_ROBOT_NAME robot1)"/>
 <arg name="namespace" default="/$(arg robot_name)"/>

 <group ns="$(arg namespace)">

    <param name="tf_prefix" value="$(arg namespace)" />
    <arg name="tf_prefix" default="$(arg namespace)"/>
    <arg name="scan_topic" default="scan"/>
      <node pkg="snap_map_icp" type="snap_map_icp" name="snap_map_icp" output="screen">
        <!-- relevant scan frames -->
        <param name="odom_frame" value="$(arg tf_prefix)/odom"/>
        <param name="base_laser_frame" value="$(arg tf_prefix)/base_laser_link"/>
        <param name="base_frame" value="$(arg tf_prefix)/base_footprint"/>
        <param name="global_frame" value="map"/>

        <!-- defines minimum fitness for candidates for pose publishing -->
        <param name="icp_fitness_threshold" value="100"/>
     
        <!-- float, describes how old laser scans can be before they get sorted out by SnapMapICP -->
        <param name="age_threshold" value="1.0"/>
        <!-- float, seconds, how long before another, new initial pose will be sent after one was sent -->
        <param name="update_age_threshold" value="1"/>

        <!-- thresholds over distance btw amcl icp pose to trigger pose publishing -->
        <!-- translation -->
        <!-- float, meters, minimum position change that will trigger a re-initialisation of amcl -->
        <param name="dist_threshold" value="0.01"/>
        <!-- rotation -->
        <!-- float, minimum angle change that will trigger a re-initialisation of amcl -->
        <param name="angle_threshold" value="0.01"/>

        <!-- float, maximum icp transform angle that will still be considered a sane match published as an initial pose. -->
        <param name="angle_upper_threshold" value="1"/>

        <!-- various icp parameters -->
        <!-- consult with icp algorithm from pcl for details -->

        
        <!-- float, 1 = 100%, percentage of scan points that must match withing icp_inlier_dist so that the match is considered good and a initial pose can be sent -->
        <param name="icp_inlier_threshold" value="0.70"/>
        <!-- float, meters distance a point can have to its nearest neighbor in map to be still considered as inlier -->
        <param name="icp_inlier_dist" value="0.02"/>
        <!-- number of iterations in ICP  -->
        <param name="icp_num_iter" value="250"/>

        <!-- translational pose covariance the initial pose gets sent with -->
        <param name="pose_covariance_trans" value="0.1"/>

        <!-- rate at which scans are taken -->
        <param name="scan_rate" value="2"/>

        <remap from="base_scan" to="$(arg scan_topic)"/>
        <remap from="map" to="/map"/>
        <remap from="static_map" to="/static_map"/>
      </node>
  </group>
</launch>
